.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav_bar ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}

.nav_bar ul a {
    font-family: var(--ff);
    color: var(--text);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

#sing {
    border-radius: 5px;
    border: 1px solid var(--text);
    padding: 0.5rem;
}

header h2 {
    color: #DF6951;
    font-family: var(--ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

header p {
    color: var(--phr);
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.text a {
    border-radius: 10px;
    background: var(--yellow);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    color: var(--white);
    text-align: center;
    font-family: var(--ff);
    font-size: 18px;
    font-weight: 500;
    padding: 0.5em;
    text-decoration: none;

}

small {
    color: var(--text-color);
    font-family: var(--ff);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    
    
    
   
}

.play-btn {
    display: flex;
   

}

.play-btn img {
    width: 52px;
height: 52px;

}
