.destinations {
    text-align: center;

}

.destinations h2 {
    color: var(--3rd);
    text-align: center;
    font-family: var(--h1);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.destinations-cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}