.menu {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    gap: 40rem;



}

.menu ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}

.menu ul a {
    font-family: var(--ff);
    color: var(--text);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;

}

#sing {
    border-radius: 5px;
    border: 1px solid var(--text);
    padding: 0.5rem;
}

.menu_button {
    display: none;
}




@media (min-width: 600px) {  

    /*menu*/

.menu.active {
    opacity: 1;
    visibility: visible;
}

.menu {
    opacity: 0;
}

.menu_button {
    margin-left: auto;
    cursor: pointer;

}
}