:root {
    --text:#212832;
    --ff:"Poppins", sans-serif;
    --1st: #181E4B;
    --3rd: #14183E;
    --phr:#5E6282;
    --white: #FFF;
    --yellow: #F1A501;
    --text-color: #686D77;
    --h1: "Volkhov", serif;
    

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
