:root {
    --text: #212832;
    --h2-color:#DF6951;
    --ff: "Poppins", sans-serif;
    --h3: "Open Sans";
    --input:  "Montserrat", sans-serif;
    --1st: #181E4B;
    --3rd: #14183E;
    --phr: #5E6282;
    --white: #FFF;
    --yellow: #F1A501;
    --black: #080809;
    --text-color: #686D77;
    --h1: "Volkhov", serif;
    --text-heading-color: #1E1D4C;
    --TEXT-CLR: #5E6282;
    --circle: #F5F5F5;
    --light-color: #DFD7F9;
    --gradient: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%)
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
