.text {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.text h1 {
    color: var(--1st);
    font-family: var(--h1);
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    /* 105.952% */
    letter-spacing: -3.36px;

}

.text h2 {
    color: var(--h2-color);
    font-family: var(--ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.text p {
    color: var(--phr);
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.text a {
    border-radius: 10px;
    background: var(--yellow);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    color: var(--white);
    text-align: center;
    font-family: var(--ff);
    font-size: 18px;
    font-weight: 500;
    padding: 0.5em;
    text-decoration: none;

}

small {
    color: var(--text-color);
    font-family: var(--ff);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0.3em;


}

.play {
    display: flex;
}


.play-btn {
    display: flex;


}

.play-btn img {
    width: 52px;
    height: 52px;

}

@media (max-width: 600px) {
    .text h1 {
        font-size: 54px;
        font-weight: 400;

    }

    .traveller {
        display: none;
    }
}